@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    padding: 0;
    margin: 0;
}

/* header */

.header-top{
    background-color: #222222;
    
}
.titulo-header-top{
    
    font-family: 'Roboto';
    font-size: 14px;
    color: #F3F3F3;
    margin-left: 8px;
    
}

.lista-header-top{
    color: #F3F3F3;
    list-style: none;
    margin-left: -18px;
    font-size: 10px;
}

.titulo-header-bottom{
    margin-left: 10px;
}
.inicio-titulo{
    font-size: 20px;
    font-style: normal;
    font-family:'Roboto',sans-serif;
    color:#3C2313;

}
.fin-titulo{
    color:#FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-family:'Roboto',sans-serif;

}
.header-bottom img{
    width: 17px;
    height: 17px;
}


.header-bottom{
    background-color: #F0A83E;
    margin-top: -16px;
    
}
.lista-nav{
    font-size: 13px;
    color:#FFFFFF;
    list-style: none;

}

/* Banner */

.img-fondo{
    background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
    position: relative;
    background-size:cover;
    width: 1525px;
    height: 450px;
    top: 81px;
    margin-top: -97px;
}
.titulo-banner{
    text-align: center;
    margin-bottom: 20px;
    margin-top: -5px;
}